<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
<head>
  {% include head.html %}
</head>
<body class="flex h-full bg-zinc-50">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100"></div>
      </div>
    </div>
    <div class="relative flex w-full flex-col">
      {% include header.html %}
      <main class="flex-auto">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </div>
</body>
</html>
